<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>Edit Recipe</title>
        <link rel='stylesheet' href='../assets/styles/editRecipe.css'>
        <script src='../assets/scripts/editRecipe.js' type="module"></script>
    </head>
    <body>
        <form action='viewRecipe.html'>
            <nav id='navbarGrid'>
                <img id='backBtn' src='../assets/images/backArrow.png'>
                <img id='logo' src='../assets/images/logo.png'>
                <input type='image' id='confirmBtn' src='../assets/images/confirm.png'>
                <img id='cancelBtn' src='../assets/images/cancel.png'>
            </nav>
            
            <div role='textbox' contenteditable id='title'>
                Ice Cream Sundae
            </div>
            <!-- <textarea id='title'>Ice cream double sundae chocolate surprise with a shot of espresso</textarea> -->

            <div id='metaData'>
                <!-- Limit input servings to 3 digits (999 people), cookTime to 4 digits (9,999 minutes), make size of input box just longer than max input length -->
                <p><b>Servings:</b> <br><span><input type='text' id='servings' size='2' maxlength='2' placeholder="4"></span> &nbsp;</p>
                <p><b>Cooking Time:</b> <br><span><input type='text' id='cookTime' size='4' maxlength='4' placeholder="45"></span> minutes &nbsp;</p>
                <!-- <p><b>Author:</b> <br><span><input type='text' id='author' size='10'></span></p> -->
                <p><b>Author:</b> <br><input type='text' id='author' size='20' maxlength='20' placeholder="Jonny Tran"></span></p>
            </div>

            <div class='tags'>
                <p>Breakfast</p>
                <p>Lunch</p>
                <p>Dinner</p>
                <p class="selected">Dessert</p>
                <p class="selected">Healthy</p>
                <p class="selected">Sugar Free</p>
                <p>Vegetarian</p>
                <p class="selected">Vegan</p>
                <p class="selected">Cheap!</p>
                <p>Under 10 Mins</p>
                <p>Beginner</p>
                <p class="selected">Intermediate</p>
                <p>Advanced</p>
            </div>

            <div id='recipeCardGrid'>
                <article id='imageEdit'>
                    <img id='recipeImg' src='../assets/images/recipeImg.jpg'>
                    <input type='file' id='uploadImg' value='UPLOAD IMAGE'>
                </article>

                <article id='ingredients'>
                    <h2>Ingredients</h2>

                    <div role='textbox' contenteditable id='ingredient1'>
                        1 pint coffee (or favorite flavor) ice cream
                    </div>

                    <div role='textbox' contenteditable id='ingredient2'>
                        1 pint vanilla (or favorite flavor) ice cream
                    </div>

                    <div role='textbox' contenteditable id='ingredient3'>
                        Lightly sweetened whipped cream
                    </div>

                    <div id='ingredientBtns'>
                        <input type='button' id='addIngredient' value='+'>
                        <input type='button' id='removeIngredient' value='-'>
                    </div>
                </article>

                <article id='instructions'>
                    <h2>Instructions</h2>

                    <div role='textbox' contenteditable id='instruction1'>
                        To make the bits: Line a pie plate with plastic wrap. Melt the chocolate in a double boiler or on low power in a microwave. Add the salt, stir to blend and then, using a spatula, spread the chocolate on the plastic, making a layer that’s 1/8-inch thick (shape doesn’t matter). Press a piece of plastic wrap against the surface and freeze for at least 45 minutes. When you’re ready to make the sundaes, chop the chocolate into bite-size bits.
                    
                    </div>
                    <div role='textbox' contenteditable id='instruction2'>
                        To make the sauce: Put the chocolate, cream, corn syrup and sugar in a medium pan over medium-low heat. Cook, stirring constantly, until the chocolate melts and comes to a light simmer, about 5 minutes. Still stirring, let it burble for a minute or two, then scrape it into a heatproof container. Use immediately, or cover and refrigerate until needed.    
                    </div>
                    <div role='textbox' contenteditable id='instruction3'>
                        To make the sundaes: If necessary, warm the fudge sauce in a double boiler, or microwave on low. For each sundae, sprinkle some salted chocolate bits and almonds in the bottom of a bowl, snifter or sundae glass. Top with a scoop or two of coffee ice cream, some hot fudge sauce, almonds and bits. Finish with a scoop or two of vanilla ice cream, fudge sauce, whipped cream, almonds and chocolate bits. Serve immediately with a long spoon.    
                    </div>
                    
                    <div id='instructionBtns'>
                        <input type='button' id='addInstruction' value='+'>
                        <input type='button' id='removeInstruction' value='-'>
                    </div>
                </article>

                <input type='button' id='deleteRecipeBtn' value='DELETE RECIPE'>
            </div>
        </form>
    </body>
</html>