<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel='stylesheet' href='../assets/styles/viewRecipe.css'>
    <script src='../assets/scripts/viewRecipe.js' type="module"></script>
</head>
<body>
    <h1>View a Recipe</h1>
    <nav id='navbarGrid'>
        <input type='image' id='backBtn' src='../assets/images/backArrow.png'>
        <img id='logo' src='../assets/images/logo.png'>
        <input type='image' id='editBtn' src='../assets/images/pencil.png'>
        <input type='image' id='favBtn' src='../assets/images/heartEmpty.png'>
    </nav>
    
    
    <h1 id='title'>Ice Cream Sundae</h1>
    <div id='metaData'>
        <p><b>Servings:</b> <span id='servings'>4</span> &nbsp;</p>
        <p><b>Cooking Time:</b> <span id='cookTime'>45</span> minutes &nbsp;</p>
        <p><b>Author:</b> <span id='author'>Jonny Tran</span></p>
    </div>

    <div id='tags'>
        <p>Dessert</p>
        <p>Healthy</p>
        <p>Sugar Free</p>
        <p>Vegan</p>
        <p>Cheap!</p>
        <p>Intermediate</p>
    </div>

    <div id='recipeCardGrid'>
        <img id='recipeImg' src='../assets/images/recipeImg.jpg'>

        <article id='ingredients'>
            <h2>Ingredients</h2>
            

            <div id='ingredient1'>
                <input type='checkbox'>
                <label for='ingredient3'>1 pint coffee (or favorite flavor) ice cream</label>
            </div>

            <div id='ingredient2'>
                <input type='checkbox'>
                <label for='ingredient3'>1 pint vanilla (or favorite flavor) ice cream</label>
            </div>

            <div id='ingredient3'>
                <input type='checkbox'>
                <label for='ingredient3'>Lightly sweetened whipped cream</label>
            </div>
        </article>

        <article id='instructions'>
            <h2>Instructions</h2>
            
            <div id='instruction1'>
                <input type='checkbox'>
                <label for='instruction1'>
                    To make the bits: Line a pie plate with plastic wrap. Melt the chocolate in a double boiler or on low power in a microwave. Add the salt, stir to blend and then, using a spatula, spread the chocolate on the plastic, making a layer that’s 1/8-inch thick (shape doesn’t matter). Press a piece of plastic wrap against the surface and freeze for at least 45 minutes. When you’re ready to make the sundaes, chop the chocolate into bite-size bits.
                </label>
            </div>
            
            <div id='instruction2'>
                <input type='checkbox'>
                <label for='instruction2'>
                    To make the sauce: Put the chocolate, cream, corn syrup and sugar in a medium pan over medium-low heat. Cook, stirring constantly, until the chocolate melts and comes to a light simmer, about 5 minutes. Still stirring, let it burble for a minute or two, then scrape it into a heatproof container. Use immediately, or cover and refrigerate until needed.    
                </label>
            </div>

            <div id='instruction3'>
                <input type='checkbox'>
                <label for='instruction3'>
                    To make the sundaes: If necessary, warm the fudge sauce in a double boiler, or microwave on low. For each sundae, sprinkle some salted chocolate bits and almonds in the bottom of a bowl, snifter or sundae glass. Top with a scoop or two of coffee ice cream, some hot fudge sauce, almonds and bits. Finish with a scoop or two of vanilla ice cream, fudge sauce, whipped cream, almonds and chocolate bits. Serve immediately with a long spoon.    
                </label>
            </div>
        </article>
    </div>
</body>
</html>